<!-- DEBUG: share-buttons.html is being rendered -->
<div class="share-buttons">
    <strong>Share on:</strong>
    <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}" target="_blank" rel="noopener" aria-label="Share on Twitter">Twitter</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener" aria-label="Share on Facebook">Facebook</a>
    <a href="http://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}" target="_blank" rel="noopener" aria-label="Share on Hatena Bookmark">Hatena</a>
</div>
