{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

<!-- DEBUG: Calling terms.html for taxonomy: {{ $taxonomy }} -->
{{- with $page.GetTerms $taxonomy }}
  <!-- DEBUG: Found terms for {{ $taxonomy }}: {{ . }} -->
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div>
    <div>{{ $label }}:</div>
    <ul>
      {{- range . }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
  </div>
{{- else }}
  <!-- DEBUG: No terms found for {{ $taxonomy }} -->
{{- end }}
