{{ define "main" }}
  <section class="space-y-8">
    {{ range $page := (site.GetPage "section" "posts").Pages }}
      <article class="mb-10">
        <h2 class="text-text-dark dark:text-text-light border-b border-border-dark dark:border-border-light pb-2 mt-6 mb-4 relative"><a href="{{ $page.RelPermalink }}" class="text-link-dark dark:text-link-light no-underline transition-colors duration-200 ease-in-out hover:text-link-hover-dark dark:hover:text-link-hover-light hover:underline">{{ $page.LinkTitle }}</a></h2>
        <div class="mt-2.5 mb-2.5 flex flex-wrap">
          {{ if $page.Params.categories }}
            {{ partial "terms.html" (dict "taxonomy" "categories" "terms" ($page.GetTerms "categories")) }}
          {{ end }}
          {{ if $page.Params.tags }}
            {{ partial "terms.html" (dict "taxonomy" "tags" "terms" ($page.GetTerms "tags")) }}
          {{ end }}
        </div>
        <p>{{ $page.Description }}</p>
      </article>
    {{ end }}
  </section>
{{ end }}
