{{ define "main" }}
  <h1>{{ .Title }}</h1>

  <section class="post-list">
    {{ range $page := .Pages }}
      <article class="post-item">
        <h2><a href="{{ $page.RelPermalink }}">{{ $page.LinkTitle }}</a></h2>
        <p>{{ $page.Description }}</p>
        <div class="post-meta-tags-categories">
          {{ if $page.Params.categories }}
            {{ partial "terms.html" (dict "taxonomy" "categories" "terms" ($page.GetTerms "categories")) }}
          {{ end }}
          {{ if $page.Params.tags }}
            {{ partial "terms.html" (dict "taxonomy" "tags" "terms" ($page.GetTerms "tags")) }}
          {{ end }}
        </div>
      </article>
    {{ end }}
  </section>
{{ end }}
