{{- $isServer := site.IsServer }}
{{- with resources.Get "js/main.js" }}
  {{- $opts := dict
    "minify" (not $isServer)
    "sourceMap" (cond $isServer "external" "")
    "targetPath" "js/main.js"
  }}
  {{- with . | js.Build $opts }}
    {{- if $isServer }}
      <script src="{{ .RelPermalink }}"></script>
    {{- else }}
      {{- with . | fingerprint }}
        <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous"></script>
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
