{{ $src := .Get "src" }}
{{ $video := .Page.Resources.GetMatch $src }}
{{ if not $video }}{{ $video = resources.Get $src }}{{ end }}

{{ if $video }}
  <figure class="image-container" {{ with .Get "width" }}style="max-width: {{ . }}px; margin-left: auto; margin-right: auto;"{{ end }}>
    <video controls playsinline>
      <source src="{{ $video.RelPermalink }}" type="{{ $video.MediaType.Type }}">
      Your browser does not support the video tag.
    </video>
    {{ with .Get "caption" }}
      <figcaption>{{ . }}</figcaption>
    {{ end }}
  </figure>
{{ else }}
  <div style="border: 2px solid orange; padding: 1em;">
    <p>Video not found: {{ $src }}</p>
  </div>
{{ end }}
